<nav id="nav-bar">

  <a href="/home"><img class="logo" src="/images/logo.png"></a>
  <a href="/home"><span class="header">Fast'n'Yummy</span></a>

  <button class="nav-button" type="button">Login</button>
  <!-- <button class="nav-button" type="button">Contact</button> -->
  <a href="/menu"><button class="nav-button" type="button">Order</button></a>
  <a data-orderid=orderid></a>
</nav>
