<nav id="nav-bar">
  <img class="logo" src="">
  <span class="header">Fast'n'Yummy</span>
  <button class="nav-button" type="button">Login</button>
  <button class="nav-button" type="button">Contact</button>
  <button class="nav-button" type="button">Order</button>
</nav>
