<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_styles %>
  </head>
    <main class="container">
      <body>
        <% include partials/_header %>
        <img src="/images/tomato-background.jpg" class="background-img">

        <button class="order-button" type="button">Order</button>

        <footer class="footer">Copyright Fast'n'Yummy 2018</footer>
      </body>
    </main>
</html>


<!-- src="/images/noun_lunch_bag_66559.png"
 -->
