<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_styles %>
  </head>

  <body>
    <% include partials/_header %>
    <img src="" class="background_img">
    <h1>Welcome!</h1>
    <button class="order_button" type="button"></i>Order</button>

  </body>
</html>
