<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>
    <% include partials/_styles %>
  </head>

  <body>
    <% include partials/_header %>

    <main class="container">
      <section id="menu-list">

        <div>Item list</div>

      </section>

      <section id="menu-container">
        <div>All the images will go here!</div>

      </section>

      <section id="menu-cart">
        <div>Cart lives here</div>

      </section>

    </main>


  </body>
</html>
