<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>
    <% include partials/_styles %>
  </head>

  <body>
    <% include partials/_header %>

    <main class="container">
      <section id="menu-list">

        <div>Item list</div>

      </section>

      <section id="menu-container">
        <div>
          <span class="menu-item-header">
            <div class="item-name">Delicious Breakfast</div>
            <p>A delicious bowl of breakfast foods. Best eaten in the morning.</p>
            <p class="price">$8.99</p>
          </span>
          <div>
            <img class="menu-item" src="/images/healthy-fruits-breakfast.jpg">
          </div>
          <footer class="menu-item-footer">
            <button class="add-sub" type="button"><i class="fas fa-plus"></i></button>
            <button class="add-sub" type="button"><i class="fas fa-minus"></i></button>
          </footer>
        </div>

      </section>

      <section id="menu-cart">
        <div>Cart lives here</div>

      </section>

    </main>

    <footer class="footer">Copyright Fast'n'Yummy 2018</footer>
  </body>
</html>
