<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Menu</title>
    <% include partials/_styles %>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/menuCreator.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <% include partials/_header %>

    <main class="container">
      <section id="menu-list" class="sidebar-left box">

        <h3><div>
          <ol>
            <li id="breakfast">Breakfast</li>
            <li id="main">Main Dishes</li>
            <li id="sides">Sides</li>
            <li id="dessert">Dessert</li>
          </ol>
        </div></h3>

      </section>

      <section id="menuContainer">
        <section id="menu" class="col-md-4">
          <div class="menu-item-header">
            <span class="item-name">Delicious Breakfast</span>
          </div>
          <div>
            <img class="menu-item-img" src="/images/healthy-fruits-breakfast.jpg" alt="healthy breakfast">
            <p class="description">A delicious bowl of breakfast foods. Best eaten in the morning.</p>
          </div>
          <footer class="menu-item-footer">
            <button class="add-sub" type="button"><i class="fas fa-plus"></i></button>
            <button class="add-sub" type="button"><i class="fas fa-minus"></i></button>
            <p class="price">$8.99</p>
          </footer>

        </section>
      </section>

      <section id="menu-cart" class="sidebar-right box">
        <div class="cartContainer"></div>
        <form method="GET" action="/confirmation"><button class="confirm-button" type="submit" ></i>Confirm</button></form>
      </section>

    </main>

    <footer class="footer">
    <% include partials/_footer %>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
