<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>
    <% include partials/_styles %>
  </head>

  <body>
    <% include partials/_header %>

    <main class="container">
      <section id="menu-list" class="box">

        <div>Item list</div>

      </section>

      <section id="menu" class="box">
        <div class="menu-item-header">
          <span class="item-name">Delicious Breakfast</span>
        </div>
        <div>
          <img class="menu-item-img" src="/images/healthy-fruits-breakfast.jpg" alt="healthy breakfast">
          <p class="description">A delicious bowl of breakfast foods. Best eaten in the morning.</p>
        </div>
        <footer class="menu-item-footer">
          <button class="add-sub" type="button"><i class="fas fa-plus"></i></button>
          <button class="add-sub" type="button"><i class="fas fa-minus"></i></button>
          <p class="price">$8.99</p>
        </footer>

      </section>

      <section id="menu-cart" class="box">
        <div>Cart lives here</div>

      </section>

    </main>

    <footer class="footer">Copyright Fast'n'Yummy 2018</footer>
  </body>
</html>
