<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Status</title>
    <% include partials/_styles %>
  </head>

  <body>
    <% include partials/_header %>
    <div>
      <h2>Order Number: (order number variable)</h2>
      <h3>Waiting for response...Order confirmed!</h3>
      <h2>Time Remaining: (time variable)</h2>
    </div>
    <footer class="footer">Copyright Fast'n'Yummy 2018</footer>
  </body>
</html>
