/* Homepage Styling */

$border: 1px solid lightgrey;
$border-hover: 1px solid grey;
$rounded: 5px;
$padded: 1em;

body {

  background-color: #eee;
  color: black;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: $padded;
  margin-bottom: $padded;
  padding-bottom: $padded;
}

.background-img {
  width: auto;
  height: auto;
}
