/* Styling for the main page area */

$primary-color: #800000;
$secondary-color: #999966;
$border: 1px solid lightgrey;
$border-hover: 1px solid grey;
$rounded: 5px;
$padded: 1em;


.box {
  background-color: #f9f9f1;
  color: black;
  margin-bottom: $padded;
  padding-bottom: $padded;
  border-radius: $rounded;
}

.sidebar-left {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #f9f9f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-right {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 0;
  background-color: #f9f9f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.category {
  cursor: pointer;
}

/* Styling for each displayed menu item */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.image-box {
  display: flex;
  align-items: center;
  height: 200px;

}

.menu-item-img {
  margin: 5px;
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: $rounded;
}

.description {
  padding: $padded;
}

.price {
  float: right;
  display: inline-block;
  padding-top: $padded;
  padding-right: $padded;
}

.item-name {
  display: inline-block;
  margin: $padded;
  font-size: 1.5em;
}

.menu-item-header {
  background-color: #999966;
  height: 60px;
}

.menu-item-footer {
  padding-left: $padded;
  padding-top: $padded;
  border-top: $border;
}

.add-sub {
  padding-top: $padded;
  display: span;
}

#menu:hover {

}

