/* Styling for each displayed menu item */


$border: 1px solid lightgrey;
$border-hover: 1px solid grey;
$rounded: 5px;
$padded: 1em;


.box {
  background-color: white;
  color: black;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: $padded;
  margin-bottom: $padded;
  padding-bottom: $padded;
  border-radius: $rounded;
  border: $border;
  float: left;
  width: 33.33%;
}


.menu-item-img {
  margin: 5px;
  width: 95%;
  height: 95%;
  border-radius: $rounded;
}

.description {
  padding: $padded;
  display: none;
}

.price {
  float: right;
  display: inline-block;
  padding-top: $padded;
  padding-right: $padded;
}

.item-name {
  display: inline-block;
  margin: $padded;
  font-size: 1.5em;
}

.menu-item-header {
  background-color: #999966;
  height: 60px;
}

.menu-item-footer {
  padding-left: $padded;
  padding-top: $padded;
  border-top: $border;
}

.add-sub {
  padding-top: $padded;
  display: span;
}

#menu:hover {
  border: $border-hover;
}

#menu:hover .description {
  display: block;
}
